*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;

    background: skyblue;

    display: flex;
    align-items: center;
    justify-content: center;
}
#main_section{
    width:960px;
    height: 540px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 50px;

    background: hsla(300deg, 100%, 90%, 1);

    position: relative;
}
#main_section > #sentence{
    font-size: 1.5em;
    font-weight: 900;
}
#main_section > #main_result{
    width: 100%;

    font-size: 1.5em;
    font-weight: 900;
    text-align: center;

    position: absolute;
    bottom: 30px;
}